<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027112230279-pe50tk8l31hlmhr9os0o39v78bpgs58e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027112230279-pe50tk8l31hlmhr9os0o39v78bpgs58e</string>
	<key>API_KEY</key>
	<string>AIzaSyDEXxk03HDBG2vWxdacTcKrhwPg9gPwZUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1027112230279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.excelacademy.mobile</string>
	<key>PROJECT_ID</key>
	<string>excel-academy-online</string>
	<key>STORAGE_BUCKET</key>
	<string>excel-academy-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027112230279:ios:09c3364849854bf3f9c722</string>
	<key>DATABASE_URL</key>
	<string>https://excel-academy-online-default-rtdb.firebaseio.com</string>
</dict>
</plist>