rules_version = '2';


service cloud.firestore {
  match /databases/{database}/documents {
    // The authenticated user can only read and write to their own user doc.
    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow update: if request.auth.uid == userId;
    }
  }
}
